@font-face {
    font-family: 'PT Sans Narrow';
    src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('./ptn57f.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url('./ptn77f.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "PT Sans Narrow", Arial, sans-serif !important;
    font-size: 20px;
    line-height: 24px;
}

.label, .badge {
    font-size: 16px !important;
}

[class^="icon-"], [class*=" icon-"] {
    vertical-align: top;
    margin-top: 3px;
}

li, .table th, .table td {
    line-height: 24px;
}